.image1 {
  background: url(./img/fly.jpg) no-repeat center center/cover;
}
.image2 {
  background: url(./img/forest.jpg) no-repeat center center/cover;
}
.image3 {
  background: url(./img/good\ view.jpg) no-repeat center center/cover;
}
.image4 {
  background: url(./img/heart.jpg) no-repeat center center/cover;
}
.image5 {
  background: url(./img/night.jpg) no-repeat center center/cover;
}
.image6 {
  background: url(./img/sea.jpg) no-repeat center center/cover;
}
.image7 {
  background: url(./img/) no-repeat center center/cover;
}
.image8 {
  background: url(./img/) no-repeat center center/cover;
}
.image9 {
  background: url(./img/) no-repeat center center/cover;
}
.image10 {
  background: url(./img/) no-repeat center center/cover;
}
.image11 {
  background: url(./img/) no-repeat center center/cover;
}
.image12 {
  background: url(./img/) no-repeat center center/cover;
}
